@{
    ViewData["Title"] = "My Diary";
}


<div style="z-index: 0" class="text-center vh-100 mt-auto">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <p>Here you can write all of your days activities and keep it as a long-living memories</p>
    <div class="row pb-3 justify-content-center">
        <a class="btn btn-outline-primary text-light w-50" asp-controller="Note" asp-action="Index"><h2>Try Here!</h2></a>
    </div>
</div>